*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
 /*navigation bar*/
:root{
--navbar-height:59px;
}

#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#navbar ul li a{
    display: block;
    padding: 3px 22px;
    border-radius: 22px;
    text-decoration: none;
    color: white;
 
     }
     
 #navbar ul li a:hover{
         color: black;
      background-color: white;
          }

#navbar ul{
display: flex;
font-family: 'Ubuntu', sans-serif
}
#navbar ul li{
    list-style: none;
font-size: 1.3rem;
    }
 #logo{
        margin: 29px 4px;
        }
        
  #logo img {
         height:60px;
           margin: -21px 34px;
        }

 /*home section*/

#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 530px;
    justify-content: center;
    align-items: center;

}
 
#home::before{
    content: "";
    background:url(../bg1.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
    
}

#home h1{
    color: white;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
}
/*h1 and para css*/
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Ubuntu', sans-serif ;
    }
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(62, 71, 77);
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
.center{
    text-align: center;
}

.h-secondry{
    font-family: 'Ubuntu', sans-serif ;
    font-size: 2rem;
    padding: 12px;
}
/*learn english section*/

#learnenglish{
margin: 34px;
display: flex;
}

#learnenglish .box{
    border:2px solid rgb(49, 43, 43);
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    background-color: rgb(224, 209, 209);

}

#learnenglish .box img{
    height: 160px;
    margin: auto;
    display: block;
}
#learnenglish .box p{
    font-family: 'Ubuntu', sans-serif;
}
#learnenglish{

}
/*clients section*/
#client-section{
position: relative;
height: 350px;
}

#client-section::before{
content: "";
position: absolute;
background: url(../bg2.jpg);
width: 100%;
height: 100%;
z-index: -1;
opacity: 0.3;
}

.client-item{
    padding: 34px;
}

#client-section img{
height: 120px;
}
#client{
display: flex;
justify-content: center;
align-items: center;
}

/* contact section*/

#contact{
    position: relative;

}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(../contact.jpg)no-repeat center center/cover;
}

/*footer section */
footer{
    background-color: black;
    color: white;
    padding: 9px 20px;

}
#contact-box{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input{

}
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-box form{
    width:40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Ubuntu', sans-serif;
}
